In [1]:
import pandas as pd
import numpy as np
import json
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv("D:/Recommender system - Future skills/normalizeddata.csv")

In [3]:
df

,categories/0,categories/1,categories/2,categories/3,categories/4,skill,title
0,salesforce,api,java,json,NaN,"salesforce,api,java,json,","REMOTE Sr. Salesforce API Engineer- Java, JSON..."
1,python,linux,aws,computer-vision,image-processing,"python,linux,aws,computer-vision,image-processing",Software Developer Imaging at DuPont Pioneer ...
2,javascript,reactjs,c#,artificial-intelligence,NaN,"javascript,reactjs,c#,artificial-intelligence,",Do you have what it takes to save the Pony? Ta...
3,java,spring,agile,lucene,javascript,"java,spring,agile,lucene,javascript",Java Developer at Spartez Sp. z o.o. sp. k. (G...
4,java,hadoop,bigdata,software-engineering,mysql,"java,hadoop,bigdata,software-engineering,mysql","Senior Platform Engineer at Evariant (Austin, TX)"
...,...,...,...,...,...,...,...
1775,django,python,postgresql,reactjs,nosql,"django,python,postgresql,reactjs,nosql",Python Django Software Engineer - Health Care ...
1776,mongodb,amazon-web-services,python,pyspark,etl,"mongodb,amazon-web-services,python,pyspark,etl",Big Data Engineer at Consumer Reports (Yonkers...
1777,python,django,qa,NaN,NaN,"python,django,qa,,",Data Analyst Senior Quality Engineer at Force ...
1778,hadoop,python,machine-learning,amazon-s3,amazon-emr,"hadoop,python,machine-learning,amazon-s3,amazo...","Big Data Engineer at Harvey Nash Plc (London, UK)"
1779,python,machine-learning,tensorflow,pandas,numpy,"python,machine-learning,tensorflow,pandas,numpy",Lead Datascientist in Munich based Tech-Startu...

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
from scipy.spatial import distance
vectorizer = CountVectorizer(lowercase=True)
X = vectorizer.fit_transform(df["skill"])
X.toarray()
count_vect_df = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names_out())
count_vect_df

,17,3d,ab,access,accumulo,acl,acoustics,active,admin,administration,...,x86,xamarin,xcode,xilinx,xml,xposed,xtradb,yarn,zend,zookeeper
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1775,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1776,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1777,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1778,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1779,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt

In [7]:
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['skill'])
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim_df = pd.DataFrame(cosine_sim)

In [8]:
cosine_sim_df

,0,1,2,3,4,5,6,7,8,9,...,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779
0,1.000000,0.000000,0.000000,0.223607,0.204124,0.000000,0.000000,0.250000,0.0,0.223607,...,0.000000,0.250000,0.000000,0.288675,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,1.000000,0.000000,0.000000,0.000000,0.154303,0.169031,0.188982,0.0,0.000000,...,0.000000,0.188982,0.239046,0.218218,0.0,0.169031,0.142857,0.218218,0.119523,0.154303
2,0.000000,0.000000,1.000000,0.223607,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.223607,0.000000,0.000000,0.000000,0.000000
3,0.223607,0.000000,0.223607,1.000000,0.182574,0.000000,0.000000,0.223607,0.0,0.200000,...,0.000000,0.223607,0.000000,0.258199,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.204124,0.000000,0.000000,0.182574,1.000000,0.166667,0.182574,0.204124,0.0,0.182574,...,0.000000,0.204124,0.000000,0.235702,0.0,0.000000,0.000000,0.000000,0.129099,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1775,0.000000,0.169031,0.223607,0.000000,0.000000,0.182574,0.400000,0.223607,0.0,0.000000,...,0.000000,0.223607,0.141421,0.258199,0.0,1.000000,0.169031,0.516398,0.141421,0.182574
1776,0.000000,0.142857,0.000000,0.000000,0.000000,0.154303,0.169031,0.188982,0.0,0.169031,...,0.377964,0.188982,0.119523,0.218218,0.0,0.169031,1.000000,0.218218,0.358569,0.154303
1777,0.000000,0.218218,0.000000,0.000000,0.000000,0.235702,0.258199,0.288675,0.0,0.000000,...,0.000000,0.288675,0.182574,0.333333,0.0,0.516398,0.218218,1.000000,0.182574,0.235702
1778,0.000000,0.119523,0.000000,0.000000,0.129099,0.129099,0.141421,0.158114,0.0,0.000000,...,0.316228,0.158114,0.100000,0.182574,0.0,0.141421,0.358569,0.182574,1.000000,0.387298
1779,0.000000,0.154303,0.000000,0.000000,0.000000,0.166667,0.182574,0.204124,0.0,0.000000,...,0.408248,0.204124,0.129099,0.235702,0.0,0.182574,0.154303,0.235702,0.387298,1.000000

In [28]:
def content_recommendation(title):
    a = df.copy().reset_index().drop('index',axis=1)
    index = a[a['skill']==title].index[0]
    top_n_index = list(cosine_sim_df[index].nlargest(20).index)
    try:
        top_n_index.remove(index)
    except:
        pass
    similar_df = a.iloc[top_n_index][['title']]
    
    similar_df['similarity'] = cosine_sim_df[index].iloc[top_n_index]
    
    return  similar_df

In [30]:
title = 'ajax,salesforce,apex,java,javascript'
s = content_recommendation(title)

In [31]:
s = s.to_json()
s

'{"title":{"1237":"Senior Software Engineer at Capital One (Vienna, VA)","1336":"Senior Salesforce Developer at OnPrem Solution Partners (Austin, TX)","336":"Full-Stack Salesforce Developer at Litify (Brooklyn, NY)","93":"Solutions Architect at CarMax (Richmond, VA)","435":"Senior Engineer (Salesforce) at Wizeline (Zapopan, Mexico)","556":"Lead Salesforce Technical Architect (f\\/m) at Delivery Hero AG (Berlin, Germany)","674":"Senior Salesforce Developer (4+ years) at sailteam.io () (allows remote)","1518":"Experienced Software Developer at Kuebix (Maynard, MA)","1650":"[SG] Deutsche Bank Analyst Internship Programme  Technology at Deutsche Bank in Asia Pacific (Singapore)","138":"Salesforce Developer at Gen25 (Amsterdam, Netherlands)","495":"Salesforce Developer at Goldline, Inc. (Los Angeles, CA) (allows remote)","636":"Salesforce Developer at Picnic (Amsterdam, Netherlands)","834":"Salesforce CRM Developer at BTIG (New York, NY)","1670":"Salesforce Application Engineer at NewWave (Baltimore, MD)","1612":"Salesforce Developer at Boyle Software (New York, NY)","133":"Sr Demandware\\/Salesforce Commerce Architect at PFSweb (Allen, TX) (allows remote)","1308":"Softwareentwickler (m\\/w) - Java \\/ JavaScript  Mobility & Big Data at IAV GmbH Ingenieurgesellschaft Auto und Verkehr (Gifhorn, Deutschland)","673":"Marketing Salesforce Developer at sailteam.io (Brooklyn, NY)","901":"Senior Salesforce Developer at Vandebron (Amsterdam, Netherlands)"},"similarity":{"1237":0.8,"1336":0.8,"336":0.6761234038,"93":0.6708203932,"435":0.6708203932,"556":0.6708203932,"674":0.632455532,"1518":0.632455532,"1650":0.632455532,"138":0.6,"495":0.6,"636":0.6,"834":0.6,"1670":0.6,"1612":0.5477225575,"133":0.5163977795,"1308":0.5163977795,"673":0.5070925528,"901":0.5070925528}}'